__pycache__/
data.json
data.*.json
config.jsonc
config.*.jsonc
*.test.*
*.local.*
.venv/
client/Win_Simple/build/
client/Win_Simple/*.spec
client/Win_Simple/dist/config.ini
client/Win_Simple/config.ini
