# Python Cache
__pycache__/

# Config and Data
config.yaml
config.toml
config/config.yaml
config/config.toml
.env
data.json

# For Local / venv
*.test.*
*.local.*
.venv/

# Others
.vscode/launch.json
