# Generated on 2025-07-21 20:01:45

annotated-types==0.7.0
blinker==1.9.0
click==8.2.1
colorama==0.4.6
Flask==3.1.1
Flask-SQLAlchemy==3.1.1
greenlet==3.2.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
objtyping==0.5.4
pydantic==2.11.7
pydantic_core==2.33.2
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
schedule==1.2.2
SQLAlchemy==2.0.41
toml==0.10.2
typing-inspection==0.4.1
typing_extensions==4.14.1
Werkzeug==3.1.3
