<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user }} Alive?</title>
    <meta name="description" content="{{ user }}'s Online Status Page">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="container">
        <div class="card" id="user_status">
            <h1><ruby>似<rt>sǐ</rt></ruby>了吗?</h1>
            <h3><i>{{ user }}'s</i> <b>Status:</b><br><a id="status" style="font-size: 1.2em;">{{ status_name }}</a></h3>
            <p id="additional-info" style="font-size: 1em;">{{ status_desc | safe }}</p>
            <!-- <hr /> 由 get.js 控制 -->
            <p id="device-status">[设备状态列表]</p>
            <!-- 最后更新: xxxx-xx-xx xx:xx:xx -->
            <p id="last-updated">最后更新: {{ last_updated }}</p>
            
        </div>  
        <div class="card" id="more_text">
            <div>
                <p id="hitokoto">
                    <a href="#" id="hitokoto_text">{{ hitokoto }}</a>
                </p>
                <script>
                    const hitokoto_enabled = '{{ hitokoto }}';
                    const hitokotoElement = document.querySelector('#hitokoto_text');
                    if (hitokoto_enabled) {
                        console.log('Hitokoto enabled');
                        fetch('https://v1.hitokoto.cn')
                            .then(response => response.json())
                            .then(data => {
                                hitokotoElement.href = `https://hitokoto.cn/?uuid=${data.uuid}`
                                hitokotoElement.innerText = data.hitokoto
                            })
                            .catch(console.error)
                    } else {
                        console.log('Hitokoto disabled');
                        hitokotoElement.innerText = '';
                    }
                </script>
            </div>
            {{ more_text | safe }}
            <p>你可以通过这个页面视奸<i>{{ user }}</i>。
                <br>
                <a href="{{ repo }}" target="_blank" style="color: rgb(0, 255, 0);">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                        style="vertical-align: middle; width: 1em;">
                        <path
                            d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" />
                    </svg>
                    {{ learn_more | safe }}
                </a>
            </p>
        </div>
    </div>

    <script>
        const statusElement = document.getElementById('status');
        statusElement.classList.add('{{ status_color }}');
    </script>
    <script src="{{ url_for('static', filename='get.js') }}" defer></script>
</body>

</html>