<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_desc }}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> -->
    <link rel="icon" href="{{ page_favicon }}">
    <!-- live server 环境: sorry but 已经拆分了 -->
    <!-- flask 环境 -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        body {
            background: url('{{ bg }}') no-repeat center center fixed;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="card light" id="user_status">
            <h1><ruby>似<rt>sǐ</rt></ruby>了吗?</h1>

            <!-- (moonlight) 透明度 / 暗色模式 -->
            {% if moonlight %}
            {% include "moonlight.html" %}
            {% endif %}

            <h3><i><b>{{ user }}'s</b></i> Status:<br><a id="status">{{ status_name }}</a></h3>
            <p id="additional-info">{{ status_desc | safe }}</p>
            <p id="device-status">[设备状态列表]</p>

            <!-- (steam-legacy) 旧版 Steam 状态模块 (文字) -->
            {% if steam_legacy_enabled %}
            {% include "steam-legacy.html" %}
            {% endif %}

            <!-- (steam-new) 新版 Steam 状态模块 (iframe) -->
            {% if steam_enabled %}
            {% include "steam-new.html" %}
            {% endif %}

            <p id="last-updated">最后更新: {{ last_updated }}</p>
        </div>

        <!-- (zhixue) 智学网分数 -->
        {% if zhixue %}
        {% include "zhixue.html" %}
        {% endif %}

        <div class="card light" id="more_text">
            <!-- (hitokoto) 一言 -->
            {% if hitokoto %}
            {% include "hitokoto.html" %}
            {% endif %}
            <!-- more_text START -->
            {{ more_text | safe }}
            <!-- more_text END -->
            <p>你可以通过这个页面视奸 <b>{{ user }}</b>。<br>
                <a href="{{ repo }}" target="_blank" style="color: rgb(0, 255, 0);">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width:1em;">
                        <path
                            d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z" />
                    </svg>
                    <!-- learn_more START -->
                    {{ learn_more | safe }}
                    <!-- learn_more END -->
                </a>
            </p>
        </div>
    </div>

    <!-- (lantern) 节日灯笼 -->
    {% if lantern %}
    {% include "lantern.html" %}
    {% endif %}

    <!-- (mplayer) 音乐播放器 -->
    {% if mplayer %}
    {% include "mplayer.html" %}
    {% endif %}

    <!-- (canvas) 粒子效果 -->
    {% if canvas %}
    <script src="{{ url_for('static', filename='canvas.js') }}" defer></script>
    {% endif %}

    <script>
        document.getElementById('status').classList.add('{{ status_color }}');
    </script>
    <script src="{{ url_for('static', filename='get.js') }}" defer></script>

</body>

</html>
