<!DOCTYPE html>
<!--
Steam Info (New)
From: https://github.com/gamer2810/steam-miniprofile
(Moded)
-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex, nofollow">
<meta name="referrer" content="no-referrer">


<head>
  <link async rel="preload" as="style"
    href="https://community.cloudflare.steamstatic.com/public/shared/css/shared_global.css"
    onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="https://community.cloudflare.steamstatic.com/public/shared/css/shared_global.css">
  </noscript>
  <script>
    const sleep = (delay) => new Promise((resolve) => setTimeout(resolve, delay));
    async function main() {
      const container = document.getElementById('includedContent');
      if (!container) {
        console.error('Container element not found');
        return;
      }

      const defaultProfile = document.querySelector('.default');
      if (!defaultProfile) {
        console.error('Default profile element not found');
        return;
      }

      let searchParams = new URLSearchParams(window.location.search);
      let corsHost = '{{ env.util.steam_api_url }}';
      let steamId = searchParams.get('accountId') || '{{ env.util.steam_ids }}';
      let interactive = searchParams.get('interactive') || false;
      let vanityId = searchParams.get('vanityId') || '';
      let language = searchParams.get('lang') || 'schinese';
      let featuredGame = searchParams.get('appId') || '';
      let corsURL = `${corsHost}${steamId}?l=${language}&appId=${featuredGame}`;
      let steamURL = `https://steamcommunity.com/id/${vanityId}`;

      if (steamId === '{{ env.util.steam_ids }}') {
        steamId = '{{ env.util.steam_ids }}';
      }
      console.log(`[Steam New] SteamID: ${steamId}`);

      let loaded = false;
      const refresh_interval = Number('{{ env.util.steam_refresh_interval }}') || 20000;

      while (true) {
        console.log('[Steam New] Getting steam info');
        try {
          const response = await fetch(corsURL);
          if (!response.ok) throw new Error(`Network response was not ok: ${response.status}`);
          const data = await response.text();

          container.innerHTML = data;
          container.hidden = true;

          // if ((container.children && container.children.textContent.length) !== 0) {
          defaultProfile.classList.add('fade-out');
          defaultProfile.replaceWith(...container.children);
          defaultProfile.classList.remove('fade-out');
          defaultProfile.classList.add('fade-in');

          if (!loaded) {
            window.parent.postMessage(
              {
                state: "loaded"
              }, {
              targetOrigin: '*',
            })
            loaded = true;
          }
          // }

          if (interactive && vanityId) {
            document.body.style.cursor = "pointer";
            document.addEventListener('click', 'div.miniprofile_container', function (e) {
              e.preventDefault();
              window.open(steamURL, '_blank');
            });
          }

          console.log(`[Steam New] Updated`);
        } catch (error) {
          console.error(`[Steam New] Fetch error: ${error}`);
        }

        console.log(`[Steam New] Sleep ${refresh_interval}ms...`);
        await sleep(refresh_interval);
      }
    }

    // 确保 dom 加载完成后再启动
    document.addEventListener('DOMContentLoaded', main);
  </script>
</head>

<body style="height: fit-content; width: fit-content;">
  <div id="includedContent"></div>
  <!-- default miniprofile while waiting for the real one to load -->
  <!-- cache to help with load time -->
  <div class="miniprofile_container default">
    <!-- Background -->
    <div class="miniprofile_background">
      <img class="miniprofile_backgroundblur"
        src="https://avatars.akamai.steamstatic.com/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb.jpg">
    </div>
    <div class="miniprofile_playersection ">
      <!-- Player avatar/name stuff -->
      <div class="playersection_avatar border_color_offline">
        <img src="https://avatars.akamai.steamstatic.com/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_medium.jpg"
          srcset="https://avatars.akamai.steamstatic.com/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_medium.jpg 1x, https://avatars.akamai.steamstatic.com/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg 2x">
      </div>
      <div class="player_content">
        <span class="persona offline">Loading</span>
        <span class="friend_status_offline">Offline</span>
      </div>
    </div>
    <div class="miniprofile_detailssection  not_in_game miniprofile_backdrop">
      <div class="miniprofile_featuredcontainer">
        <img
          src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/206440/67e23690ce7aad7e097d828463fb0adf4932a5ab.png"
          class="badge_icon">
        <div class="description">
          <div class="name">Unknown</div>
          <div class="xp">? XP</div>
        </div>
      </div>
      <div class="miniprofile_featuredcontainer">
        <div class="friendPlayerLevel lvl_0"><span class="friendPlayerLevelNum">?</span></div>
        <div class="description">
          <div class="name">Steam Level</div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>