/*
WARNING: 不要使用格式化代码 (本文件内) / DON'T USE CODE FORMATTER IN THIS FILE
*/
rt {
    font-size: 0.6em;
}


a {
    text-decoration: none;
}

body {
    background: url('{{ bg }}') no-repeat center center fixed; /* 此处不要展开 */
    background-size: cover;
}

.card {
    background-color: aliceblue;
    border-radius: 30px;
    padding: 2rem 1rem;
    margin: 1rem auto;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: {{ alpha }};
}
.card p {
    font-size: 1.2em;
    margin: 1rem;
}
.container {
    padding: 1rem;
}

@media (max-width: 700px) {
    body {
        touch-action: pan-y;
    }
    .card{
        width: 90%;
    }
}

/* 以下为各种状态的颜色 */

.sleeping {
    color: gray;
}

.awake {
    color: rgb(16, 128, 0);
}

.error {
    color: red;
}

/* 不建议删除上面的 .sleeping .awake .error 三个默认颜色 */

#hitokoto_text {
    color: rgba(237, 202, 242, 0.719);
}