/*
WARNING: 不要使用格式化代码 (本文件内) / DON'T USE CODE FORMATTER IN THIS FILE
*/

/* html {
    font-size: 25px;
    overflow: auto;
} */

rt {
    font-size: 0.6em;
}


a {
    text-decoration: none;
}

body {
    background: url('{{ bg }}') no-repeat center center fixed; /* 此处不要展开 */
    background-size: cover;
}

.card {
    background-color: aliceblue;
    border-radius: 30px;
    padding: 2rem 1rem;
    margin: .5rem auto;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* font-size: 1.5em; */
    opacity: {{ alpha }};
}
.card p {
    font-size: 1.2em;
    margin: .5rem;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 80vb; /* 限制最大宽度，可根据需要调整 */
    margin: 0 auto;
    padding: 20px; /* 添加一些内边距 */
}

@media (max-width: 675px) {
    body {
        touch-action: pan-y;
    }
}

/* 以下为各种状态的颜色 */

.sleeping {
    color: gray;
}

.awake {
    color: rgb(16, 128, 0);
}

.error {
    color: red;
}

/* 不建议删除上面的 .sleeping .awake .error 三个默认颜色 */

#hitokoto_text {
    color: rgba(237, 202, 242, 0.719);
}